<div class="flex space-around">
    <div class="padding1em">
        <ul>
            <li class="nodisc li-footer"><a href="{{ path('accueil_accueil') }}" class="button">Accueil</a></li>
            <li class="nodisc li-footer"><a href="" class="button">Villes</a></li>
            <li class="nodisc li-footer"><a href="" class="button">Campus</a></li>
            <li class="nodisc li-footer"><a href="" class="button">Accueil</a></li>
            <li class="nodisc li-footer"><a href="" class="button">Mon profil</a></li>
        </ul>
    </div>
    <div class="padding1em">
        <ul>
            <li class="nodisc li-footer"><a href="" class="button">Se déconnecter</a></li>
            <li class="nodisc li-footer"><a href="" class="button">Accès admin</a></li>
        </ul>
    </div>
</div>
<div id="footer">
    &copy;Sortir {{ "now"|date('Y') }}
</div>